body {
    background-color: orange;
}

.main-container {
    background-color: blue;
}

.header-container {
    border-color: black;
    background-color: red;
}


.movie-container {
    background-color: greenyellow;
}

.movie-item {
    background-color: green;
}

.movie-poster {
    background-color: blueviolet;
}

.movie-banner {
    background-color: brown;
}

.detail-popup {
    background-color: rgb(123, 166, 185);
}

.popup-header {
    background-color: brown;
}

.popup-detail-container {
    background-color: blueviolet;
}

.popup-poster-container {
    background-color: rgb(72, 22, 119);

}