.movie-section {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.movies-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
    gap: 1rem;
}

.movie-item {
    display: grid;
    max-width: 25rem;
    position: relative;
}

.movie-poster,
.best-movie-poster {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;

    object-fit: cover;
    object-position: center;
    background-color: blueviolet;
}

.movie-banner {
    display: grid;
    position: absolute;

    top: 20%;
    height: 6rem;
    width: 100%;


    background-color: rgba(25, 25, 65, 0.521);

    padding: 1rem;
}

.movie-item__title {
    justify-self: self-start;
    color: white;
    font-weight: bold;
}

.movie-item__detail-button {
    justify-self: self-end;

    height: 2rem;
    width: 5rem;
    color: white;
    border-style: none;
    border-radius: 1rem;
    background-color: crimson;
}

.show-more-section {
    display: grid;
    justify-content: center;
}

.show-more {
    height: 2rem;
    width: 10rem;
    color: white;
    border-style: none;
    border-radius: 1rem;
    background-color: crimson;
}

@media (width<=848px) {
    .category-best-movies-title {
        text-align: center;
    }       
}