.best-movies {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
}

.best-movies__frame {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
    gap: 1rem;
}

.movie-item {
    display: grid;
    max-width: 25rem;
    position: relative;
}



.movie-banner {
    display: grid;
    position: absolute;

    top: 20%;
    height: 6rem;
    width: 100%;


    background-color: rgba(25, 25, 65, 0.521);

    padding: 1rem;
}

.movie-item__title {
    justify-self: self-start;
    color: white;
    font-weight: bold;
}

.movie-item__detail-button {
    justify-self: self-end;

    height: 2rem;
    width: 5rem;
    color: white;
    border-style: none;
    border-radius: 1rem;
    background-color: crimson;
}

.best-movies__show-more-frame {
    display: grid;
    justify-content: center;
}

.best-movies__show-more {
    height: 2rem;
    width: 10rem;
    color: white;
    border-style: none;
    border-radius: 1rem;
    background-color: crimson;
}

@media (width<=848px) {   
    .best-movies__frame-title {
        text-align: center;
    }    

    .best-movies:has(.best-movies__show-more[aria-expanded="false"]) {
        .movie-item:nth-child(n+3) {
            display: none;
        }
    }

    .best-movies:not(:has(.best-movies__frame .movie-item:last-child:nth-child(n+3))) {
        .best-movies__show-more {
            display: none;
        }
    }    
}

@media(1264px>width>848px) {   
    .best-movies:has(.best-movies__show-more[aria-expanded="false"]) {
        .movie-item:nth-child(n+5) {
            display: none;
        }
    }
    .best-movies:not(:has(.best-movies__frame .movie-item:last-child:nth-child(n+5))) {
        .best-movies__show-more {
            display: none;
        }
    }    
}

@media(width>=1264px) {   
    .best-movies__show-more {
        display: none;
    }  
}