
.best-movie {
    padding: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: black;
}


.best-movie__frame {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

.best-movie__poster-frame {
    display: grid;
    width: 100%;
    max-width: 25rem;
}

.best-movie__details-frame {
    display: grid;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.best-movie__show-details {
    justify-self: center;
    height: 2rem;
    width: 5rem;
    color: white;
    border-style: none;
    border-radius: 1rem;
    background-color: crimson;
}

@media(width<=848px){
    .best-movie__title {
        text-align: center;
    }
}
@media(1264px>width>848px) {  
    .best-movie__frame {
        grid-template-columns: 20rem 1fr;
    }

    .best-movie__show-details {
        justify-self: self-end;
    } 
}
@media(width>=1264px){
    .best-movie__frame {
        grid-template-columns: 20rem 1fr;
    }    
    .best-movie__show-details {
        justify-self: self-end;
    }
}