@media (width<=53rem) {
    #jsi-title {
        display: none;
    }

    .header-container {
        justify-items: center;
        grid-template-columns: 1fr;
    }
}

@media (width<=53rem) {

    .best-movie-ever-title {
        text-align: center;
    }

    .category-best-movies-title {
        text-align: center;
    }

    .movie-section:has(.show-more[aria-expanded="false"]) {
        .movie-item:nth-child(n+3) {
            display: none;
        }
    }

    .movie-section:not(:has(.movies-container .movie-item:last-child:nth-child(n+3))) {
        .show-more {
            display: none;
        }
    }

    
}

@media(80rem>=width>53rem) {
    .best-movie-poster {
        width: 100%;
        height: auto;
        aspect-ratio: 182/268;

        background-color: blueviolet;
    }

    .best-movie-container {
        grid-template-columns: 20rem 1fr;
    }

    .best-movie-container__details-container__details-button {
        justify-self: self-end;
    }

    .movie-section:has(.show-more[aria-expanded="false"]) {
        .movie-item:nth-child(n+5) {
            display: none;
        }
    }

    .movie-section:not(:has(.movies-container .movie-item:last-child:nth-child(n+5))) {
        .show-more {
            display: none;
        }
    }
    .other-header{
        grid-template-columns: 5rem 1fr;
    }

}

@media(width>80rem) {
    .best-movie-container {
        grid-template-columns: 20rem 1fr;
    }

    .best-movie-poster {
        width: 100%;
        height: auto;
        aspect-ratio: 182/268;

    }

    .best-movie-container__details-container__details-button {
        justify-self: self-end;
    }

    .show-more {
        display: none;
    }

    .other-header{
        grid-template-columns: 5rem 1fr;
    }

    .detail-popup{
        max-width: 40rem;
        
    }
    .popup_top{
        grid-template-columns: 1fr 15rem;
    }
    
}