body {
    margin: 0;
}

nav {
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    margin: 1rem;
}

.header-container {
    display: grid;
    grid-template-columns: 20rem 1fr;
}

#jsi-title {
    display: grid;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



main {
    container-type: inline-size;
    padding: 1rem;
}



.jsi-logo {
    width: 100%;
    max-width: 20rem;
    height: auto;
}