.detail-popup{       
    max-width: 25rem;
}

.detail-popup__frame{
    display: grid;
}

.detail-popup___top{
    display: grid;
}

.popup-movie-details {
    font-size: small;

}

.detail-popup___poster-frame{
    display: grid;
    grid-template-columns: 1fr;
}


.detail-popup__close{
    justify-self: center;
    height: 2rem;
    width: 5rem;
    color: white;
    border-style: none;
    border-radius: 1rem;
    background-color: crimson;
}

.detail-popup___poster {
        width: 100%;
        height: 100%;
        aspect-ratio: 182/268;

        background-color: blueviolet;
    }

@media(width>=1264px) {
    .detail-popup{
        max-width: 40rem;        
    }
    .detail-popup___top{
        grid-template-columns: 1fr 10rem;
    }    
}