.detail-popup{    
    
    max-width: 25rem;
}

.popup-container{
    display: grid;
}

.popup_top{
    display: grid;
}

.popup-movie-details {
    font-size: small;

}

#close-popup{
    justify-self: center;
    height: 2rem;
    width: 5rem;
    color: white;
    border-style: none;
    border-radius: 1rem;
    background-color: crimson;
}

#popup-poster {
        width: 100%;
        height: auto;
        aspect-ratio: 182/268;

        background-color: blueviolet;
    }

@media(width>=1264px) {
    .detail-popup{
        max-width: 40rem;        
    }
    .popup_top{
        grid-template-columns: 1fr 15rem;
    }    
}